<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>navbar</title>
    <style>
        *{
            padding:0%;
            margin:0% ;
            color:white;
        }
        #navbar{
            height: 60px;
            background-color: black;
        }
        
        
        #logo{color: pink;
            font-size: 25px;

        }
        a{
            margin-right: 200px;
        }
    </style>
</head>
<body>
    <div
        id="navbar">
        <a id="logo">logo</a>
        <a>Home</a>
        <a>Peoduct</a>
        <a >Instagram</a>
        <a >Contact Us</a>
        </div>