<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color:darkmagenta ;
        }
        .container{ height: 400px;
            width: 200px;
            background-color: pink;
            margin:2px;
            display: inline-block;

        }
        .image-box{
            height:60%;

        }
        .img{ height:100%;
            width:100%;
            border-radius: 25px;
        }
        h1,h2.h3{
            text-align: center;
        }
        .detail-box{
            height:38%;

        }
    </style>
</head>
<body>
<div class="container">
    <div class="image-box">
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLgiLlHPN9eMlLjTl1smsYz2lEuDN2klAzjn3QK-mB&s">
</div>
<div class="detail-box">
    <h2>Title:girls cap</h2>
    <h3>price:100
    </h3>
    <h4>Description:...</h4>
</div></div>

<div class="container">
 <div class="image-box">
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLgiLlHPN9eMlLjTl1smsYz2lEuDN2klAzjn3QK-mB&s">
</div>
<div class="detail-box">
    <h2>Title:girls cap</h2>
    <h3>price:100
    </h3>
    <h4>Description:...</h4>
</div></div>
<div class="container">
 <div class="image-box">
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLgiLlHPN9eMlLjTl1smsYz2lEuDN2klAzjn3QK-mB&s">
</div>
<div class="detail-box">
    <h2>Title:girls cap</h2>
    <h3>price:100
    </h3>
    <h4>Description:...</h4>
</div></div>
<div class="container">
 <div class="image-box">
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLgiLlHPN9eMlLjTl1smsYz2lEuDN2klAzjn3QK-mB&s">
</div>
<div class="detail-box">
    <h2>Title:girls cap</h2>
    <h3>price:100
    </h3>
    <h4>Description:...</h4>
</div></div>
<div class="container">
 <div class="image-box">
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLgiLlHPN9eMlLjTl1smsYz2lEuDN2klAzjn3QK-mB&s">
</div>
<div class="detail-box">
    <h2>Title:girls cap</h2>
    <h3>price:100
    </h3>
    <h4>Description:...</h4>
</div></div>
<div class="container">
 <div class="image-box">
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLgiLlHPN9eMlLjTl1smsYz2lEuDN2klAzjn3QK-mB&s">
</div>
<div class="detail-box">
    <h2>Title:girls cap</h2>
    <h3>price:100
    </h3>
    <h4>Description:...</h4>
</div></div>
<div class="container">
 <div class="image-box">
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLgiLlHPN9eMlLjTl1smsYz2lEuDN2klAzjn3QK-mB&s">
</div>
<div class="detail-box">
    <h2>Title:girls cap</h2>
    <h3>price:100
    </h3>
    <h4>Description:...</h4>
</div></div>
<div class="container">
 <div class="image-box">
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLgiLlHPN9eMlLjTl1smsYz2lEuDN2klAzjn3QK-mB&s">
</div>
<div class="detail-box">
    <h2>Title:girls cap</h2>
    <h3>price:100
    </h3>
    <h4>Description:...</h4>
</div></div>
<div class="container">
 <div class="image-box">
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLgiLlHPN9eMlLjTl1smsYz2lEuDN2klAzjn3QK-mB&s"></div>
   <div class="detail-box">
       <h2>Title:girls cap</h2>
       <h3>price:100</h3>
        <h4>Description:...</h4>
     </div>
    </div>
   </body>
</html>